<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <link rel = "icon" href = "/img/logo.png" type = "image/x-icon">
    <title>lesson</title>
</head>
<body>
    
    <section id="lesson_header" class="d-flex align-items-center justify-content-between"> 
        <button id="home"> <a href="/index">   <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
          </svg> </a></button> 
        <h2><%= title %></h2>
    </section>
    
    <div>
        <nav id="lesson_nav">
            <h3 class="m-4"><%= title %></h3>
            <ul>
                <a href=""> <li class="class_active"> Lessons</li></a>
                <a href="/class/<%=title%>/<%=section%>/announcement_class"> <li> Announcement</li></a>
                <a href="/class/<%=title%>/<%=section%>/students"> <li> Students</li></a>
                
            </ul>
        </nav>

        <div id="lesson_main" class="d-flex align-items-center flex-column">
            <div id="lesson_buttons" class="m-4">
                <button data-bs-toggle = "modal" data-bs-target = "#create_lesson">Create</button>
                
                <div class="modal fade" id="create_lesson">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Create Lesson</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          
                          <form method ="POST" action="/class/<%=title%>/<%=section%>/add-lesson">
                              <div class="mb-3">
                                <label for="title" class="col-form-label"> Lesson Name</label>
                                
                                <input type="text" class="form-control" id="" name="lesson_name">
                                
                              </div>
  
                              <div class="mb-3">
                                <label for="body" class="col-form-label"> Description</label>
                                <textarea class="form-control" id="message-text" name="lesson_description"></textarea>
            
                              </div>
  
                             
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                
                                <input type="submit" name ="grades_edit" class="btn btn-secondary" value="Create"> 
                              </div>
                            </form>
                        </div>
                        
                      </div>
                    </div>
                  </div>
            </div>

            <% lessons.forEach((les)=> { %>
            <section id ="lesson_section" class="m-3"> <a href="/class/<%=les.class_id%>/<%=les.section%>/<%=les.lesson_id%>">
                <h2 class="m-4"><%=les.lesson_name%></h2>
                <p class="m-4"><%=les.lesson_description%></p>
            </a>
            
            <button id = "edit-lesson" data-bs-toggle = "modal" data-bs-target="#edit_lesson<%=les.lesson_id%>">Edit</button>
            <button id="delete-lesson" data-bs-toggle = "modal" data-bs-target="#delete_lesson<%=les.lesson_id%>"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
            </svg>
            </svg></button>

            <div class="modal fade" id="edit_lesson<%=les.lesson_id%>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edit Lesson</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      
                      <form method ="POST" action="/class/<%=title%>/<%=section%>/edit-lesson">
                          <div class="mb-3">
                            <label for="lesson name" class="col-form-label"> Lesson Name</label>
                            <input type="hidden" class="form-control" id="" name="lesson_id" value="<%=les.lesson_id%>">
                            <input type="text" class="form-control" id="" name="lesson_name" value="<%=les.lesson_name%>">
                            
                          </div>

                          <div class="mb-3">
                            <label for="description" class="col-form-label"> Description</label>
                            <textarea class="form-control" id="message-text" name="lesson_description"><%=les.lesson_description%></textarea>
        
                          </div>

                         
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            
                            <input type="submit" name ="grades_edit" class="btn btn-secondary" value="Edit"> 
                          </div>
                        </form>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="modal fade" id="delete_lesson<%=les.lesson_id%>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Lesson</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      
                      <form method ="POST" action="/class/<%=title%>/<%=section%>/delete-lesson">
                          <div class="mb-3">
                            <label for="validation" class="col-form-label"> Are you sure you want to delete <%=les.lesson_name%>?</label>
                            <input type="hidden" class="form-control" id="" name="lesson_id" value="<%= les.lesson_id %>">
                           
                            
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            
                            <input type="submit" name ="grades_edit" class="btn btn-secondary" value="Delete"> 
                          </div>
                        </form>
                    </div>
                    
                  </div>
                </div>
              </div>
            
            
            
            </section>
            <%}) %>
           
        </div>
    </div>


    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>