<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
    <title>Lesson</title>
</head>
<body>
    
    <section id="lesson_header" class="d-flex align-items-center justify-content-end"> 
        <h2><%= title %></h2>
    </section>
    
    <div>
        <nav id="lesson_nav">
            <h3 class="m-4"><%= title %></h3>
            <ul>
                <a href=""> <li class="class_active"> Lessons</li></a>
                <a href="/class/<%=title%>/<%=section%>/announcement_class"> <li> Announcement</li></a>
                <a href=""> <li> Students</li></a>
                
            </ul>
        </nav>

        <div id="lesson_main" class="d-flex align-items-center flex-column">
            <div id="lesson_buttons" class="m-4">
                <button>Add</button>
                <button>Edit</button>
                
            </div>

            <div id="grades_table" class="container">  
                <table class="table table-striped" id="table">
                    <thead>
                      <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Year-Sec</th>
                        <th scope="col">A.Y</th>
                        <th scope="col">Section</th>
                        <th scope="col">Grade</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <% students.forEach((student) => {
                        %>
                        <tr>
                          <td> <%= student.firstname %></td>
                          <td> <%= student.lastname %></td>
                          <td> <%= student.yearsec %></td>
                          <td> <%= student.academicyear %></td>
                          <td> <%= student.class %></td>
                          <td> <%= student.grade %></td>
                        </tr>
                       <%}) %>
                   
                      
                      
                    </tbody>
                  </table>
                </div>
           
        </div>
    </div>


    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>